<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index View: Authors</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>New View</h1>
    <form action="/authors" method="POST">
        <legend>
            <label>
                Full Name: <br/>
                <input type="text" name="fullName" required placeholder="enter author's full name (first last)">
            </label>
            <br/><br/>
        </legend>
        <input type="submit" value="Create Author">
    </form>
    <a href="/authors">Back to author index</a>
</body>
</html>